<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        Tosk Studio
    </title>
    <link rel="icon" href="/assets/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <body>
        <div id="app">Loading Tosk Studio WebUI...</div>
        <% for(var jsLocation of Object.values(manifest)) {%>
        <script type="text/javascript" src="<%- jsLocation %>"></script>
        <% } %>
    </body>
</html>
