.state-data-segment {
  margin-bottom: 5px;
  .state-data-segment-content {
    display: flex;
    flex-direction: row;

    .state-data-segment-icon {
      flex-basis: 27px;
      flex-grow: 0;
      padding-left: 5px;
      font-size: 1.3em;
    }

    .state-data-segment-text {
      padding-top: 0;
    }

    .state-data-segment-main {
      font-size: 1.3em;
      font-weight: bolder;
    }
  }
}


@mixin gen-state-label($name, $color) {
  $finalColor: darken($color, 25%);
  .module-state-#{$name} {
    border-color: $color;
    background-color: $finalColor;

    .module-state-reason {
      background-color: $finalColor;
      padding-left: 2px;
      
      span {
        display: block;
        max-width: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &::before {
        display: block;
        color: transparent;
        position: absolute;
        left: -15px;
        content: 'xxx';
        height: 100%;
        width: 15px;
        background: linear-gradient(90deg, rgba($finalColor,0) 0%, rgba($finalColor,1) 100%);
      }
    }
  }
}

.module-state {
  border: 1px solid #AAA;
  border-radius: 3px;
  margin: 2.5px;
  margin-left: -3px;
  margin-right: -3px;
  padding: 0 3px;
  position: relative;
  
  
  &:first-child {
    margin-top: -1px;
  }
  
  & .module-state-icon {
    display: block;
    position: absolute;
    right: 3px;
    top: 0px;
  }
  
  & .module-state-reason {
    display: block;
    position: absolute;
    right: 18px;
    top: 0px;
    
  }
}

@include gen-state-label("ok", #00aa00);
@include gen-state-label("warn", #ffff00);
@include gen-state-label("error", #ff0000);